
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Karla', sans-serif;
  text-align: left;
  background-color: hsl(204, 43%, 93%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1, h2, h3 {
  font-size: 16px;
  font-weight: 700;
  padding-top: 25px;
  margin-left: 25px;
  margin-bottom: 20px;
}

.container {
  color: white;
  border-radius: 5px;
}

.join-section {
  background-color: white;
  width: 320px;
  height: 265px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.join {
  color: hsl(179, 62%, 43%);
  font-size: 20px;
}

.guarantee {
  color: hsl(71, 73%, 54%);
  padding: 0 0 18px 25px;
  font-size: 19px;

}

.gain-access {
  font-size: 14px;
  padding: 0 25px 0 25px;
  line-height: 1.8;
  color: rgb(159, 163, 170);
}

.subscribe-section {
  background-color: hsl(179, 62%, 43%);
  width: 320px;
  height: 230px;
}

.price {
  margin: 0 0 10px 25px;
}

.dollar {
  font-size: 30px;
  padding-right: 8px;
}

.per-month {
  vertical-align: 5px;
  color: rgb(139, 243, 249);
}

.price-includes {
  margin: 0 0 25px 25px;
}

.sign-up {
  width: 270px;
  height: 33px;
  background-color: hsl(71, 73%, 54%);
  color: white;
  border: 1px solid rgb(64, 156, 87);
  margin: 0 25px 20px 25px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: block;
  padding-top: 15px;
  box-shadow: 2px 5px 10px 0 rgb(43, 152, 150);
}

.sign-up:hover {
  curser: pointer;
  background-color: rgb(160, 199, 62);
  color: white;
  border: 2px solid rgb(64, 156, 87);
}

.why-us-section {
  background-color: rgb(72, 182, 181);
  width: 320px;
  height: 230px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.why-us-header {
  padding-bottom: 10px;
}

ul {
  list-style: none;
  margin-left: 25px;
  font-size: 14px;
  line-height: 1.5;
  color: rgb(139, 243, 249);
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 25px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media(min-width: 800px) {

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 640px;
  }

  h1 {
    padding-top: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
  }



  .join-section {
    height: 215px;
    width: 640px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }

  .join {
    font-size: 24px;
    margin-top: ;
  }

  .guarantee {
    padding: 0 0 10px 40px;
  }

  .gain-access {
    font-size: 16px;
    padding: 0 0 0 40px;
  }

  .subscribe-section {
    height: 260px;
    border-bottom-left-radius: 7px;
  }

  .price {
    margin-left: 40px;
  }

  .price-includes {
    margin-left: 40px;
    margin-bottom: 27px;
  }

  .sign-up {
    margin-left: 40px;
    margin-right: 40px;
    width: 240p
  }

  .why-us-section {
    height: 260px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 7px;
  }

  .why-us-header {
    margin-bottom:12px;
  }

  ul {
    margin-left: 40px;
  }
}
